body
{
	background-color: #C0C0CF;
}
	
#editorDiv
{
	text-align: center;
	margin: 0 auto;
	width:500px;
	height:400px;
	background-color: #C0C0DF;
	border-radius: 25px;
	border: 3px solid white;
	position: absolute;
	left: 570px;
	top: 10px;
}

#editorCanvas
{
	position:relative;
	top: 35px;
}

#blockInfoLabel
{
	display: block;
	position:relative;
	top: 35px;
}
	
#controlsWrapperDiv
{
	background-color: #C0C0DF;
	width:500px;
	height:170px;
	position: absolute;
	left: 570px;
	top: 420px;
	border-radius: 25px;
	border: 3px solid white;
}
	
#controlsDiv
{
	text-align: center;
	margin: 0 auto;
	width:200px;
	height:170px;
	position: relative;
	left: -150px;
}

#blockSelectDiv
{
	text-align: center;
	margin: 0 auto;
	width:300px;
	height:170px;
	position: relative;
	left: 106px;
	top: -170px;
}

#upArrowButton
{
	position: absolute;
	left: 90px;
	top: 78px;
	width: 29px;
	display: inline-block;
}

#leftArrowButton
{
	position: absolute;
	left: 62px;
	top: 101px;
	width: 29px;
	display: inline-block;
}

#noDirectionButton
{
	position: absolute;
	left: 90px;
	top: 101px;
	width: 29px;
	display: inline-block;
}

#rightArrowButton
{
	position: absolute;
	left: 118px;
	top: 101px;
	width: 29px;
	display: inline-block;
}

#downArrowButton
{
	position: absolute;
	left: 90px;
	top: 124px;
	width: 29px;
	display: inline-block;
}

#redBox
{
	background-color:red;
	width: 20px;
	height: 20px;
	display: inline-block;
}

#blackBox
{
	background-color:black;
	width: 20px;
	height: 20px;
	display: inline-block;
}

#blueBox
{
	background-color:blue;
	width: 20px;
	height: 20px;
	display: inline-block;
}

#lightBlueBox
{
	background-color:rgb(0,150,255);
	width: 20px;
	height: 20px;
	display: inline-block;
}

#orangeBox
{
	background-color:orange;
	width: 20px;
	height: 20px;
	display: inline-block;
}

#greenBox
{
	background-color:rgb(0,255,0);
	width: 20px;
	height: 20px;
	display: inline-block;
}

#finalImageDiv
{
	position:absolute;
	top: 620px;
	left:770px;
}