body
{
	background-color: #C0C0CF;
}
	
#editorDiv
{
	text-align: center;
	margin: 0 auto;
	width:500px;
	height:400px;
	background-color: #C0C0DF;
	border-radius: 25px;
	border: 3px solid white;
}

#editorCanvas
{
	position:relative;
	top: 35px;
}

#blockInfoLabel
{
	display: block;
	position:relative;
	top: 35px;
}
		
#controlsDiv
{
	text-align: center;
	margin: 0 auto;
	width:200px;
	height:160px;
	background-color: #C0C0DF;
	border-radius: 15px;
	border: 3px solid white;
}

#upArrowButton
{
	position: relative;
	left: -40px;
	top: 33px;
	display: inline-block;
}

#leftArrowButton
{
	position: relative;
	left: -110px;
	top: 56px;
	display: inline-block;
}

#noDirectionButton
{
	position: relative;
	left: 38px;
	top: 33px;
	display: inline-block;
}

#rightArrowButton
{
	position: relative;
	left: 38px;
	top: 33px;
	display: inline-block;
}

#downArrowButton
{
	position: relative;
	left: -32px;
	top: 56px;
	display: inline-block;
}

#blockSelectDiv
{
	text-align: center;
	margin: 0 auto;
	width:300px;
	height:180px;
	background-color: #C0C0DF;
	border-radius: 25px;
	border: 3px solid white;
}

#redBox
{
	background-color:red;
	width: 20px;
	height: 20px;
	display: inline-block;
}

#blackBox
{
	background-color:black;
	width: 20px;
	height: 20px;
	display: inline-block;
}

#blueBox
{
	background-color:blue;
	width: 20px;
	height: 20px;
	display: inline-block;
}

#lightBlueBox
{
	background-color:rgb(0,150,255);
	width: 20px;
	height: 20px;
	display: inline-block;
}

#orangeBox
{
	background-color:orange;
	width: 20px;
	height: 20px;
	display: inline-block;
}

#greenBox
{
	background-color:rgb(0,255,0);
	width: 20px;
	height: 20px;
	display: inline-block;
}

#finalImageDiv
{
	position:relative;
	top: 35px;
}